:root {
  --color1: #926922;
  --color1-hover: #b58531;
  --color2: #C3C3C3;
  --color2-hover: #A1A1A1;
}

#app {
  font-size: 0.7 rem;
}

#app .list-group-item {
  padding: 0.2rem 1rem;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  border-radius: 20%;
  vertical-align: middle;
}

.description {
  display: inline-block;
  font-size: 0.9rem;
  width: calc(100% - 120px);
  vertical-align: middle;
}

.record-info1 {
  width: calc(100% - 100px);
  display: inline-block;
  vertical-align: middle;
}

.record-info2 {
  width: 100px;
  display: inline-block;
  vertical-align: middle;
}

.record-info3 {
  display: inline-block;
  font-size: 0.9rem;
  width: 50%;
}

.record-info4 {
  display: inline-block;
  font-size: 0.9rem;
  width: 50%;
  text-align: right;
}

.amount {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 1.3rem;
}

.accumulated {
  display: inline-block;
  text-align: right;
  font-size: 0.9rem;
  width: 100%;
}
